* {
    font-family: 'Montserrat', sans-serif; 
}

.free-weather{
    background-color: rgba(26, 103, 219, 0.678);
    color: white;
    height: 80px;
    text-align: center;
    padding-top: 15px;
}
#search-button{
    width: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#city-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

#city-inputbtn:hover{
    background: #78b6f0;
}

.cities-btn {
    background-color: white;
    margin-left: 2%;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    background: rgba(26, 103, 219, 0.678);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}
.cities-btn:hover{
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}


#cities-container{
    text-align: center;
    margin-top: 70px;
    background-color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 350px;
}
#weather-container{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: white;
    margin-left: 2%;
    margin-right: auto;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    height: 300px;
    width: 1475px;

}

#forecast-cont{
    background-color: white;
    margin-left: 2%;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    background: rgba(26, 103, 219, 0.678);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    height: 220px;
    width: 250px;
}